/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.button{
    padding: 7px;
    border-radius: 15px;
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}



/* Header */
header{
    height: 80px;
    background-color: dodgerblue;
    width: 100%;
     position: fixed;
}

header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
}

#logo{
    padding: 10px;
    max-width: 30%;
    height: auto;
    text-align: center;
}


#menudesktop{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#menumobile{
    display: none;
}

    /* Versione tablet */

@media  screen and (max-width:768px) {
    #menumobile{
        display: block;
        color: white;
    }

    .fa-bars{
        font-size: 20px;
    }

    #menudesktop{
        display: none;
    }
    
}







/* Parte principale */
.row{
    display: flex;
    justify-content: space-between;
}

.col{
    width: 45%;
}

    /* Sezione Developer */
.col .app{
    width: 55%;
}

.col .code{
    width: 35%;
}

#devsection{
    padding-top: 100px;
}

    /* Versione smartphone */
@media screen and (max-width: 480px){
    #devsection .row{
        display: block;
    }

    .col .app,
    .col .code{
        width: 100%;
        margin-bottom: 15px;
    }
}







/* Footer */
footer{
    background-color: black;
}








/* DEBUG */
section{
    min-height: 150px;
    background-color: brown;
    margin-bottom: 20px;
}

.container{
   background-color: aqua;
   min-height: 50px;
}

footer{
    min-height: 150px;
}

.col{
    min-height: 100px;
    background-color: green;
}